:root {
  --primary-color: #a45d5d;
  --secondary-color: #f7f7f7;
  --dark-color: rgb(74, 64, 58);
  --light-color: rgb(255, 192, 105);
  --img-frame-color: #b29e93;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background: var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  color: var(--secondary-color);
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
  color: var(--dark-color);
}
h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  color: var(--dark-color);
  line-height: 30px;
}
.nav-container {
  background: var(--dark-color);
  color: var(--secondary-color);
}
nav ul {
  padding: 8px 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav .active,
nav a:hover,
.email-link:hover {
  text-decoration: underline;
  background: local !important;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav a:hover {
  color: var(--light-color);
  transition: all 100ms ease-in-out;
}
.hero {
  background: rgb(164, 93, 93, 50);
  text-align: center;
  padding: 100px 20px 80px 20px;
}
.hero p {
  color: var(--secondary-color);
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-weight: normal;
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 1.5;
}
.featured-project {
  margin: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.featured-project a:hover {
  border-radius: 5px;
}
.featured-project img {
  padding: 20px;
  background: var(--img-frame-color);
  margin: 5px 0;
}
.featured-project img:hover {
  background: #a45d5d;
}
.responsiveExample {
  width: 366px;
  height: 373px;
  object-fit: cover;
  object-position: 100% 0;
}
.btn-branding {
  background: var(--light-color);
  border-radius: 4px;
  color: var(--dark-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
}
.hero a:hover {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  transition: all 100ms ease-in-out;
}

.headshot {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}
.stack {
  border: 1px solid var(--dark-color);
  padding: 15px;
}
.stack h2 {
  text-align: center;
  font-size: 30px;
}
.stack ul {
  list-style-type: none;
  padding: 15px 0;
}
.stack li {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-color);
}
.education {
  text-align: center;
}
.certs img {
  border: 8px solid var(--img-frame-color);
}
.background h2,
h2.background {
  font-size: 30px;
}
.background p {
  line-height: 1.5;
  opacity: 90%;
  font-size: 14px;
}
.portfolio img {
  padding: 20px;
  background: var(--img-frame-color);
}
.portfolio img:hover {
  background: #a45d5d;
}
footer {
  margin: 60px 0 30px 0;
  background: var(--primary-color);
  padding: 40px;
}
footer a {
  color: var(--secondary-color);
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer h4 a {
  text-decoration: underline;
  font-size: 30px;
}
footer li a {
  text-decoration: none;
  font-size: 18px;
}
footer p {
  color: var(--secondary-color);
  font-size: 15px;
}
footer a:hover {
  text-decoration: underline;
  color: var(--light-color);
}
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 34px;
  }
  h4 {
    font-size: 30px;
  }
  footer li a {
    font-size: 15px;
  }
  .portfolio {
    text-align: center;
    padding: 0;
  }
  .contact-info {
    margin: 1rem;
  }
  .btn-branding-outline {
    font-size: 15px;
    padding: 10px 20px;
  }
}
